body {
  margin:0;
  font-family:Segoe UI;
  overflow:hidden;
  transition:0.3s;
}

.light { background:#e6e9ef; }
.dark { background:#111; color:white; }

.boot {
  position:fixed;
  inset:0;
  background:#000;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
  z-index:9999;
}

.desktop { width:100vw; height:100vh; }

.start {
  position:absolute;
  bottom:50px;
  left:10px;
  background:#222;
  color:white;
  padding:10px;
  border-radius:12px;
  display:none;
}

.start div {
  padding:8px;
  cursor:pointer;
}

.window {
  position:absolute;
  top:100px;
  left:100px;
  width:350px;
  background:white;
  border-radius:14px;
  box-shadow:0 15px 40px rgba(0,0,0,0.4);
  display:none;
  flex-direction:column;
  animation:pop 0.2s ease;
}

.large { width:800px; height:500px; }

@keyframes pop {
  from{ transform:scale(0.9); opacity:0;}
  to{ transform:scale(1); opacity:1;}
}

.header {
  background:#0078ff;
  color:white;
  padding:8px;
  display:flex;
  justify-content:space-between;
  cursor:move;
  border-radius:14px 14px 0 0;
}

.content { padding:10px; flex:1; display:flex; flex-direction:column; }

textarea {
  flex:1;
  resize:none;
}

.calc-grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:5px;
}

.browser-bar {
  display:flex;
  gap:5px;
}

iframe {
  flex:1;
  border:none;
}

.taskbar {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  background:#111;
  color:white;
  display:flex;
  align-items:center;
  padding:0 10px;
  gap:10px;
}
